{% extends 'base.html' %}

{% block content %}
<div id="intro">
    <div style="text-align: center;">
        <img src="{{url_for('static', filename='images/小埋1.png')}}" alt="小埋1.png" style="width: 25%; height: auto;">
    </div>
    <h2>Hello! Here is Tanger!</h2>
    <p>I am Tanger. I like</p>
    <ul>
      <li>Guitars</li>
      <li>Money</li>
      <li>Basketball</li>
    </ul>
    <h4>How to contact me?</h4>
    <ul>
      <li>QQ: 1340543463</li>
      <li>E-Mail: tangerluo@qq.com</li>
      <li>Address: 999 Haisi Road, East China University of Science and Technology (ECUST), Shanghai, China</li>
    </ul>
    <p>Looking forward to your Hola!</p>
  </div>
{% endblock %}