{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" id="blog-form" enctype=multipart/form-data>
    <div class="blog-form-group">
      <label for="title">Title</label>
      <input name="title" id="title" value="{{ request.form['title'] }}" required>
    </div>
    <div class="blog-form-group">
      <label for="body">Body</label>
      <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    </div>
    <div class="blog-form-group">
        <input type=file name=file class="orange-btn" value="{{ request.form['file'] }}">
    </div>
    <div class="form-actions">
      <input type="submit" value="Save">
    </div>
  </form>
{% endblock %}