{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <form action="{{url_for('blog.create')}}">
      <div style="text-align: center;">
        <button class="orange-btn">New</button>
      </div>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h2>{{ post['title'] }}</h2>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        <p> </p>
        {% if g.user['id'] == post['author_id'] %}
          <a class="green-btn" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
      
      <!-- Display file or image preview -->
      {% if post['filename'] %}
        {% if post['filename'].endswith(('.png', '.jpg', '.jpeg', '.gif', '.bmp')) %}
            <img src="{{ url_for('blog.download_file', name=post['filename']) }}" loading="lazy" alt="Image preview" style="width: 400px; height: auto">
        {% else %}
            <a href="{{ url_for('blog.download_file', name=post['filename']) }}">Download File</a>
        {% endif %}
      {% endif %}

      <!-- Display the comments -->
      {% for comment in comments %}
        {% if comment['post_id'] == post['id'] %}
          <p class="body">{{ comment['body'] }}<p>
          <i>by {{ comment['username'] }} on {{ comment['created'].strftime('%Y-%m-%d') }}</i>
          {% if g.user['id'] == comment['speaker_id'] or g.user['id'] == post['author_id'] %}
            <form action="{{ url_for('blog.delete_comment', post_id=post['id'], comment_id=comment['id']) }}" method="post">
              <input class="green-btn" type="submit" value="Delete">
            </form>
          {% endif %}
        {% endif %}
      {% endfor %}
      
      <form id="comment" action="{{ url_for('blog.comment', post_id=post['id']) }}" method="post">
        <input type="text" name="comment" value="{{ request.form['comment'] }}" placeholder="Add a comment" required>
        <input type="submit" value="Comment">
      </form>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}